
/* header */
#nav{
    background-color: #444;
    padding: 20px 20px 6px;
    margin: -15px;
}
#nav ul{
    padding: 0px;
    margin: 0px;
}
#nav ul li {
    display: inline;
    margin-right: 5px;
}
#nav ul li a {
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    color: #fff;
}
#nav ul li a:hover{
    border-bottom: dotted 1px #fff;
}

/* body */
h2{
  font-size: 20px;
  margin-left: 10px;
}

.itemContainer{
  display: flex;
  border: solid 2px gray;
  align-items: center;
}
.container{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-left: 6px;
  width: 98%;
}

.container p{
  word-break: break-all;
}

.item{
  font-size: 14px;
}

#itemBtn{
  text-align: center;
  flex-basis: 60px;
}
#itemImg{
  flex-basis: 400px;
}


#itemTitle{
  flex-basis: 400px;
}

#itemMoney{
  flex-basis: 100px;
}

#deleteBtn,#changeBtn{
  border-radius: 8px;
  border-style: none;
  margin-bottom: 10px;
}
#deleteBtn{
  background-color: #dc143c;
  color: white;
}

/* newitem */
label, input {
  display: block;
}

textarea{
  width: 80%;
}
