<!DOCTYPE html>
<html>

<head>
  <title>商品一覧</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="index.js"></script>

</head>
<header>
  <div id="nav">
    <ul>
      <li><a href="#" style="color: gray">商品一覧</a></li>
      <li><a href="./newitem.html">商品登録</a></li>
    </ul>
  </div>
</header>

<body>
  <h2>商品検索</h2>
  <div>
    <form action="" method="post">
      <label for="seaTitle">タイトル</label>
      <input type="search" name="seaTitle" placeholder="タイトル">
      <label for="maxprice">価格の上限</label>
      <input name="maxprice" type="text" class="price" size="6" maxlength="9" placeholder="円">
      <label for="minprice">価格の下限</label>
      <input name="minprice" type="text" class="price" size="6" maxlength="9" placeholder="円">
      <label for="shop">店舗</label>
      <form>
        <select name="店舗">
<!-- <?php 繰り返す; ?> -->
          <option value=>店舗名</option>
<!-- <?php 繰り返す終わり; ?> -->
        </select>
      </form>

      <input type="submit" name="submit" value="検索">
    </form>
  </div>
  <h2>商品一覧</h2>
  <div class="items">
<!-- <?php 繰り返す; ?> -->
    <div class="itemContainer">

      <div class="item" id="itemBtn">
        <!-- <input type="checkbox" name="delete[]" value="1"> -->
        <button type="submit" name="change_btn" value="1" id="changeBtn">修正</button>
        <button type="submit" name="delete_btn" value="1" id="deleteBtn">削除</button>
      </div>
      <div class="container">
        <div class="item" id="itemImg">
          <img src="" alt="image" width="" class="itemImag">
        </div>
        <div class="item" id="itemTitle">
          <p>タイトル</p>
          <p>SAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDA</p>
        </div>
        <div class="item" id="itemMoney">
          <p>価格</p>
          <p>10000円aaaaaaaaaaaaa</p>
        </div>
        <div class="item" id="itemDesc">
          <p>説明</p>
          <p>
            SAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDASAAKDOADKADOKAOKDOAODKAODKAOJFJFVLSJDLOFOLAJDLFJDA
          </p>
        </div>

      </div>
    </div>
<!-- <?php 繰り返す終わり; ?> -->

  </div>

</body>

</html>
